.hidden {
    display: none;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }

  body
  {
    background-color: lightblue;
  }

  .hideit 
  {
    display: none;
    visibility: none;
  }


  .main_logo
  {
    height:50%;
    width:45%;
    position: relative;
    right:10px;
  }

  .header_logo 
  {
    
    position: relative;
  }